/*Top page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headersection {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.headertext {
    color:Blue;
}

/*Body*/
body {
    font-family: sans-serif;
}

.input {
    text-align: center;
    margin: 100px;
}

.inputValue {
    height: 75px;
    width: 500px;
    background: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: none;
    padding: 20px 20px;
}

#button {
    height: 60px;
    width: 110px;
    background: rgb(90, 87, 87);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}